[rotate-flip] {
    -webkit-transition: -webkit-transform 1000ms ease;
    -moz-transition: -mox-transform 1000ms ease;
    -o-transition: -o-transform 1000ms ease;
    -ms-transition: -ms-transform 1000ms ease;
    transition: transform 1000ms ease;
}

[rotate-flip].rotated {
    -webkit-transform: rotate(1800deg);
    -moz-transform: rotate(1800deg);
    -o-transform: rotate(1800deg);
    -ms-transform: rotate(1800deg);
    transform: rotate(1800deg);
}