[rotate-flip] {
    -webkit-transition: 1000ms ease all;
    -moz-transition: 1000ms ease all;
    -o-transition: 1000ms ease all;
    -ms-transition: 1000ms ease all;
    transition: 1000ms ease all;
}

[rotate-flip].rotated {
    -webkit-transform: rotate(1800deg);
    -moz-transform: rotate(1800deg);
    -o-transform: rotate(1800deg);
    -ms-transform: rotate(1800deg);
    transform: rotate(1800deg);
}