<div ng-controller="MainController as main">
    <div class="alert alert-danger" ng-show="main.isError">
        <button type="button" class="close" data-ng-click="main.closeError()">×</button>
        <strong>{{main.err.text}}</strong>: {{main.err.description}}
    </div>
    <div class="row vertical-align">
        <div class="col-xs-2 col-sm-2 col-md-2">
            <button type="button" class="btn btn-success btn-lg" ng-disabled="!main.isRollEnabled()"
                    ng-click="main.onRollClick()">
                {{main.rollText()}}
            </button>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
            <div class="die {{item.num}} {{item.isLocked ? 'locked' : ''}}"
                 rotate-flip="item.isRotating"
                 ng-repeat="item in main.getDices()"
                 ng-click="main.lockDice($index)">
                <span class="dot"></span>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <button type="button" class="btn btn-warning btn-lg pull-right" ng-disabled="true" ng-click="main.setDices()">
                Set dices
            </button>
        </div>
    </div>
    <div class="top17">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Комбинация</th>
                <th ng-repeat="player in main.game.players" class="{{player.isCurrent ? 'shadowTop' : ''}}">
                    {{player.name}}
                </th>
            </tr>
            </thead>
            <tr ng-repeat="(key, comb) in main.getSchool() track by $index">
                <th>{{comb.title}}</th>
                <td ng-repeat="player in main.game.players" class="{{player.isCurrent ? 'shadow' : ''}}">
                    <button type="button" class="btn btn-sm" ng-class="player.schoolPossibleResults[key] < 0 ? 'btn-danger' : 'btn-success'"
                            ng-if="main.isSchoolPossible(player, key)"
                            ng-click="main.pickSchool(key)">
                        {{ player.schoolPossibleResults[key] }}
                    </button>
                    <h6 ng-if="player.schoolResults[key] != null">{{ player.schoolResults[key] }}</h6>
                </td>
            </tr>
            <tr class="info">
                <th><b>школа</b></th>
                <td ng-repeat="player in main.game.players" class="{{player.isCurrent ? 'shadow' : ''}}">
                    <h6>{{ player.getSchoolTotal() }}</h6>
                </td>
            </tr>
            <tr ng-repeat="(key, comb) in main.getCombinations() track by $index">
                <th>{{comb.title}}</th>
                <td ng-repeat="player in main.game.players" class="{{player.isCurrent ? 'shadow' : ''}}">
                    <button type="button" class="btn btn-default btn-sm"
                            ng-if="main.isPossible(player, key)"
                            ng-click="main.pick(key)">
                        {{ player.possibleResults[key] }}
                    </button>
                    <button class="btn btn-danger btn-sm"
                            ng-click="main.cross(key)"
                            ng-if="main.canCrossOut(player, key)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                    <h6 ng-if="player.results[key] != null">{{ player.results[key] }}</h6>
                </td>
            </tr>
            <tr class="info">
                <td><b>Результат</b></td>
                <td ng-repeat="player in main.game.players" class="{{player.isCurrent ? 'shadowBtm' : ''}}">
                    <h6>{{ player.getTotal() }}</h6>
                </td>
            </tr>
        </table>
    </div>
</div>